<html>
<head>
    <title>Game Master</title>
    <link rel="stylesheet" href="/stylesheets/game-master.css"/>
    <script type="text/javascript" src="/javascripts/angular/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/controller/master-controller.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
</head>

<body>
    <div id="header">
        <center><img src="/images/uno_header.png"></center>
    </div>
    </br>
      
<center><div ng-app="uno-master" ng-controller="masterCtrl">
    <div ng-hide="gameCreated">
        <form ng-submit="createGame()" role="form">
            <div class="form-group">
                <label >Master Name:</label>
                <input type="text" class="form-control"  ng-model="masterName">
            </div>
            <div class="form-group">
                <label>Packs:</label>
                <input type="number" class="form-control" ng-model="noOfPacks">
            </div>
            <div class="form-group">
                <label>Players:</label>
                <input type="number" class="form-control" ng-model="noOfPlayers">
            </div>
            <input type="submit" class="round-corner-button" value="Create Game"/>
        </form>

    </div>

    <div class="notifyGameStart" ng-show="inUse">
        <label>{{masterName}} is already in use as a Game Master. Please choose another Master Name.</label>
    </div>

    <div class="notifyGameStart" ng-show="gameCreated">
        Game created by {{masterName}} for {{noOfPlayers}} players with {{noOfPacks}} pack.
        <br/>
        <input type="button"  class="round-corner-button" ng-click="clearData()" value="Close Game">
    </div>
</div></center>

</body>
</html>